{{/* 首页封面镜头按页面条件加载；此 hook 接收当前 Page，不能 partialCached。 */}}
{{ if or (eq .Kind "section") (.HasShortcode "page-hero") }}
  <script src="/js/splitting.min.js" defer></script>
{{ end }}
{{ if .HasShortcode "projects-list" }}
  <script src="/js/vanilla-tilt.min.js" defer></script>
{{ end }}
{{ if .IsHome }}
  {{ $coverScroll := resources.Get "js/cover-scroll.js" | resources.Minify | resources.Fingerprint "sha512" }}
  <script src="{{ $coverScroll.RelPermalink }}" integrity="{{ $coverScroll.Data.Integrity }}" defer></script>
  {{ $homeFeed := resources.Get "js/home-feed.js" | resources.Minify | resources.Fingerprint "sha512" }}
  <script src="{{ $homeFeed.RelPermalink }}" integrity="{{ $homeFeed.Data.Integrity }}" defer></script>
{{ end }}
